<%- include('partials/header'); -%>

<form action="/edititem" method="post">
    <label for="name">Item Name</label>
    <input type="text" name="name" value="<%=response.name%>" required>
    <label for="description">Description</label>
    <input type="text" name="description" value="<%=response.description%>" required>
    <label for="address">Address</label>
    <input type="text" name="address" value="<%=response.address%>" required>
    <label for="prerequisite">Prerequisite</label>
    <input type="text" name="prerequisite" value="<%=response.prerequisite%>" required>
    <label for="postedBy">Posted By</label>
    <input type="text" name="postedBy" value=<%= user.email %> readonly>
    <label for="id">UNIQUE ID</label>
    <input type="text" name="id" value="<%=response._id%>" readonly>
    <button>Save It</button>
</form>


<%- include('partials/footer'); -%>
